__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
.Trash/

fish_image/
downloads/
.gradio/

*.jpeg
*.jpg
*.png
test/
test002.jpeg
clownfish.jpeg

*.log
feedback.csv

.git/
.gitignore

train.py
iterativenewtrain.py
inaturalist.py
predictiontest.py
dataset.py
